<h1> Welcome to the best game collection manager on the planet!</h1> 

<p> 
<%= link_to "Log In", login_path %>
<br>
<%= link_to "Sign Up", signup_path %>
<br>
<%= link_to "Sign Up/In With Facebook", "/auth/facebook" %>
</p>
