<h1> Hello, <%= @user.username %> !</h1>
<h2> Here are some games: </h2>

<% @user.games.each do |game| %>
    <li>
    <%= game.title.capitalize %> (<%= game.platform.name %>) <%= link_to "Rate this game", new_game_rating_path(game) %>
    
    </li>
    <% end %>