<h2> Games: 
</h2>

<% @games.each do |game| %>
    <li>
    <%= game.title.split.map(&:capitalize).join(' ') %> (<%= game.platform.name %>) <%= link_to "Rate", new_game_rating_path(game) %> 
    </li>
    <% end %>