<h2> Here are your games: </h2>

<% @games.each do |game| %>
    <li>
    <%= game.title.capitalize %> (<%= game.platform.name %>) <%= link_to "Rate", new_game_rating_path(game) %> 
    
    
    </li>
    <% end %>